%div{:class => "p-6 rounded-lg shadow-lg  bg-white flex #{movement.saida? ? 'text-red-700' : 'text-green-700'}", :id => "#{dom_id movement}"}
  .ml-2.mt-2.flex
    %span
      = movement.date

  .ml-4.mt-2.flex-grow
    %span
      = movement.description

  .mt-3.mr-5.flex.font-bold
    %span
      = number_to_currency movement.value
  = button_to '-', movement, method: :delete, class: "cssbuttons-button-delete"
