.w-full
  - if notice.present?
    %p#notice.py-2.px-3.bg-green-50.mb-5.text-green-500.font-medium.rounded-lg.inline-block= notice
  %div.ml-4.mt-8.grid.justify-items-end
    = link_to new_movement_path,                                                                 |
      class: "px-6 py-3.5 text-base font-medium text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" do |
      %span Nova Movimentação

  .flex.flex-row.mb-4
    .grid.grid-cols-4.gap-3
      .p-6.rounded-lg.shadow-lg.bg-white
        %p Saldo Atual:
        %p.text-3xl.font-bold{class: "#{@saldo.negative? ? 'text-red-700' : 'text-blue-700'}"}
          = number_to_currency @saldo
      .p-6.rounded-lg.shadow-lg.bg-white
        %p Valores entradas:
        %p.text-3xl.font-bold.text-green-700
          = number_to_currency @saldo_entrada

      .p-6.rounded-lg.shadow-lg.bg-white
        %p Valores saidas:
        %p.text-3xl.font-bold.text-red-700
          = number_to_currency @saldo_saida

  #movements.grid.grid-cols-1.gap-4.min-w-full
    = render @movements
