.w-full.p-6.bg-gray-900.rounded-lg.shadow
  - if notice.present?
    %p#notice.py-2.px-3.bg-green-50.mb-5.text-green-600.font-medium.rounded-lg.inline-block= notice

  %div
    %div.flex.items-center.p-8.text-base.font-bold.rounded-lg.bg-gray-100
      .p-5.rounded-lg.shadow-lg.bg-gray-200
        %p Saldo Atual:
        %p.text-3xl.font-bold{class: "#{@saldo.negative? ? 'text-red-700' : 'text-blue-700'}"}
          = number_to_currency @saldo
      .p-5.rounded-lg.shadow-lg.bg-gray-200.ml-5
        %p Valores entradas:
        %p.text-3xl.font-bold.text-green-700
          = number_to_currency @saldo_entrada

      .p-5.rounded-lg.shadow-lg.bg-gray-200.ml-5
        %p Valores saidas:
        %p.text-3xl.font-bold.text-red-700
          = number_to_currency @saldo_saida

      .p-2.bg-gray-0.ml-12
        = link_to new_movement_path,
          class: "cssbuttons-button-new" do
          %span +

    %div.mt-5
      %div
        #movements.grid.grid-cols-1.gap-4.min-w-full.overflow-y-auto.max-h-96
          = render @movements

