%div.w-full.flex.justify-center
  .w-full.max-w-sm.p-4.bg-gray-900.border.border-gray-200.rounded-lg.shadow.justify-center
    %h1.text-3xl.mb-4.text-center.font-medium.text-white Faça seu login
    = form_for(resource,                                                      |
              as: resource_name,                                              |
              url: session_path(resource_name),                               |
              html: {                                                         |
                      class: " text-white mb-4 px-10 pt-6 pb-8 rounded shadow-md " |
              }                                                               |
      ) do |f|                                                                |
      = devise_simple_error_messages!
      - if flash.present?
        .bg-red-100.border-l-4.border-red-500.text-red-700.p-4.mb-4{:role => "alert"}
          %p.font-bold Oops!
          - flash.each do |name, msg|
            = content_tag :p,                          |
              msg.humanize,                            |
              id: "flash_#{name}" if msg.is_a?(String) |
      .mb-4
        = f.label :email, class: " block mb-2 text-sm font-medium text-white "
        = f.email_field :email, autofocus: true, autocomplete: "email", class: " bg-gray-500 block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full "

      .mb-4
        = f.label :password, class: " block mb-2 text-sm font-medium text-white "
        = f.password_field :password, class: " bg-gray-500 block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full ", |
          autocomplete: "current-password" |
      - if devise_mapping.rememberable?
        .mb-4
          = f.check_box :remember_me, class: " mr-2 leading-tight "
          = f.label :remember_me, class: " ml-2 text-sm font-medium text-gray-500 "
      .mb-4
        = f.submit "Log in", class: " button text-white bg-blue-800 hover:bg-blue-900 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 mr-2 mb-2 "
      = render "devise/shared/links"
    = render "devise/shared/form_footer"
